@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Sedan+SC&display=swap');

:root{
    --pri-title: "Abril Fatface", serif;
    --sec-title: "Sedan SC", serif; 

    --pri-text: #ffc100;
    --sec-text: #ff7400;
    --ter-text: #ff0000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    overflow-x: hidden; 
}

h2{
    font-family: var(--sec-title);
    font-size: 36px;
    padding: 50px 0 20px 0;
    position: relative;
}

.hero{
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.hero h1.title{
    position: absolute;
    text-align: center;
    padding: 40px;
    font-family: var(--pri-title);
    font-size: 28px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 3px;
    color: var(--pri-text);
    user-select: none;
}
.hero .title:hover{
    animation: hover 0.5s 1 ease-in-out;
}
.hero span.title{
    font-family: var(--sec-title);
    font-size: 18px;
    font-weight: 1000;
    letter-spacing: 5px;
}
.hero h1.contact{
    position: absolute;
    right: 0;
    padding: 40px;
    font-size: 14px;
    color: #000;
    font-family: var(--sec-title);
}
.hero h1.text{
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-transform: uppercase;
    color: var(--sec-text);
}
.hero .bg{
    position: absolute;
    object-fit: contain;
    z-index: -1;
    filter: grayscale(.7);
}

.hero .scroll{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,-100%);
    font-size: 32px;
    animation: scroll 2s infinite reverse ease-in-out;
}
@keyframes hover {
    0%{
        transform: scale(1,1);
    }
    20%{
        transform: scale(0.9, 1.1);
    }
    80%{
        transform: scale(1.1, 0.9);
    }
    100%{
        transform: scale(1,1);
    }
}
@keyframes scroll {
    0%{
        transform: translate(-50%,0%);
        opacity: .2;
    }
    50%{
        transform: translate(-50%,-25px);
        opacity: 1;
    }
    85%{
        transform: translate(-50%,-25px);
        opacity: 0;
    }
    100%{
        transform: translate(-50%,0%);
        opacity: 0;
    }
}

.gallery{
    width: 100vw;
    padding: 0 50px;
}
.gallery h2::after{
    content: "";
    width: 100%;
    margin: 0 0 0 20px;
    height: 2px;
    position: absolute;
    top: 65%;
    background-color: var(--ter-text);
}
.container{
    column-count: 3;
}
.image{
    position: relative;
    padding: 10px 0;
}
img{
    height: 100%;
    width: 100%;
    filter: grayscale(1);
    transition: .5s all ease-in-out;
}
.image:hover img{
    filter: grayscale(0);
}